@page "/profile/{userGuid}"
@inject HttpClient Http
@using BlazorApp.Models.Filter
@using BlazorApp.Models
@inject FileService FileService
@inject NavigationManager _nav;

<PageTitle>user @UserGuid </PageTitle>

    <RadzenCard class="rz-mx-auto rz-p-4 rz-p-md-6" style="max-width: 600px;">
         <RadzenStack Gap="10px">
             <RadzenStack AlignItems="AlignItems.Center" Gap="1rem">
                <RadzenImage Path="@FileService.GetFilePath(profile?.User.ImageId)" Style="width: 200px; height: 200px; border-radius: 50%" />
                <RadzenStack Gap="0">
                    <RadzenText TextStyle="TextStyle.H5" TagName="TagName.P" TextAlign="TextAlign.Center">  <strong> @(profile?.User?.FirstName + " " + profile?.User?.LastName) </strong></RadzenText>
                </RadzenStack>
            </RadzenStack>

            <RadzenStack Orientation="Orientation.Vertical" Gap="16px" class="rz-p-12">
                <RadzenStack Gap="0px">
                    <span style="font-size: .8em; color: var(--rz-text-tertiary-color)">Страна</span>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H6">  @(profile?.User?.Location?.Country) </RadzenText>
                </RadzenStack>
                <RadzenStack Gap="0px">
                    <span style="font-size: .8em; color: var(--rz-text-tertiary-color)">Город</span>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H6">@(profile?.User?.Location?.City) </RadzenText>
                </RadzenStack>
                <RadzenStack Gap="0px">
                    <span style="font-size: .8em; color: var(--rz-text-tertiary-color)">Возраст</span>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H6">@(profile?.User?.Age)</RadzenText>
                </RadzenStack>
                <RadzenStack Gap="0px">
                    <span style="font-size: .8em; color: var(--rz-text-tertiary-color)">День рождения</span>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H6">@(profile?.User.DateOfBirth.ToString("d MMMM"))</RadzenText>
                </RadzenStack>
                <RadzenStack Gap="0px">
                    <span style="font-size: .8em; color: var(--rz-text-tertiary-color)">Статус</span>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H6">@(profile?.User.FamilyStatus.GetDisplayDescription())</RadzenText>
                </RadzenStack>
                <RadzenStack Gap="0px">
                    <span style="font-size: .8em; color: var(--rz-text-tertiary-color)">Дети</span>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H6">@((profile?.User?.HaveChildren != null && profile?.User?.HaveChildren == true) ? "Есть" : "Нет")</RadzenText>
                </RadzenStack>
                <RadzenStack Gap="0px">
                    <span style="font-size: .8em; color: var(--rz-text-tertiary-color)">Ищу</span>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H6">...</RadzenText>
                </RadzenStack>
                <RadzenStack Gap="0px">
                    <span style="font-size: .8em; color: var(--rz-text-tertiary-color)">О себе</span>
                    <RadzenText TextAlign="TextAlign.Left" TextStyle="TextStyle.H6">...</RadzenText>
                </RadzenStack>
            </RadzenStack>

            <RadzenStack  Gap="1rem">
                <RadzenButton Text="Перейти в чат" Style="width: 100%" Click="@(()=>_nav.NavigateTo("/chat/" + profile.Id.ToString()))" />
            </RadzenStack>


         </RadzenStack>




    </RadzenCard>


   


    @code {

    ProfileResponse profile = null;

    [Parameter]
    public string? UserGuid { get; set; }

    protected override async Task OnInitializedAsync()
    {
        profile = await Http.GetFromJsonAsync<ProfileResponse>($"/api/profile/{UserGuid}");
    }

 
}